nav {
    padding-bottom: 60px;
}

article {
  padding-bottom: 60px;
}

h4{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgb(106, 143, 154);
}